*{
  box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: black;
}

.list {
    width: 75%;
    margin: auto;
    padding-top: 4px;
}

.card {
    background: rgb(112, 84, 80);
    width: 300px;
    height: 325px;
    padding: 10px;
    font-size: 1em;
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 4px;
    position: relative;
}

.cover {

}

.title {
    
}